#ifndef STASSID
#define STASSID "<SSID>"
#define STAPSK  "<SSID Password>"
#define MQTTSERVER  "<MQTT SERVER>"
#define MQTTUSER  "<MQTT User>"
#define MQTTPASSWORD  "<MQTT  Password>"
#define THINGSPEAK_API_WRITE "<API write token>"
#define CHANNEL_NUMBER <Thingspeak API channel number>
#define SENSOR_NAME "<MQTT sensor name>"
#endif

const char* ssid     = STASSID;
const char* password = STAPSK;
const char* mqtt_server = MQTT_SERVER;
const char* mqtt_user = MQTT_USER;
const char* mqtt_password = MQTT_PASSWORD;
const char* thingspeak_api_write = THINGSPEAK_API_WRITE;
const long channel_number =  CHANNEL_NUMBER;
const char* sensor_name = SENSOR_NAME;
