#ifndef STASSID
#define STASSID "<SSID>"
#define STAPSK  "<SSID Password>"
#define MQTTSERVER  "<MQTT SERVER>"
#define MQTTUSER  "<MQTT User>"
#define MQTTPASSWORD  "<MQTT  Password>"
#endif

const char* ssid     = STASSID;
const char* password = STAPSK;
const char* mqtt_server = MQTTSERVER;
const char* mqtt_user = MQTTUSER;
const char* mqtt_password = MQTTPASSWORD;
